body {
    background-color: #3AAFA9 !important; 
    font-family: 'Calibri', sans-serif !important; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px; 
    color: #DEF2F1;
}

.fading-balls {
    --uib-size: 30px;
    --uib-speed: 0.8s;
    --uib-color: #DEF2F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: var(--uib-size);
}

.fading-balls::after,
.fading-balls::before {
    content: '';
    width: calc(var(--uib-size) / 4);
    height: calc(var(--uib-size) / 4);
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: fade var(--uib-speed) ease-in-out infinite;
}

.fading-balls::after {
    animation-delay: calc(var(--uib-speed) / -2);
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
